@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue:  hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;
    font-size: 15px;
}
h1 {
    margin: 0;
}
.card {
    max-width: 370px;
    background-color: var(--white);
    margin: 5rem auto 0;
    border-radius: 20px;
}
.card-img {
    padding: 1rem;
    
}
img {
    width: 100%;
    border-radius: 20px;
}
.card-text {
    text-align: center;
    padding: 0 2.5rem;
}
.card-text h1 {
    color: var(--Darkblue);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card-text p {
    color: var(--Grayishblue);
    padding-bottom: 3rem;
    font-size: 1.1rem;
}